.container {
    margin-top: 20px;
}

.app-title {
    margin-bottom: 12px;
}

.page-title {
    margin-bottom: 20px;
}

.btn {
    min-width: 100px;
}

.btn + .btn {
    margin-left: 12px;
}

.posts .list-group-item {
    cursor: pointer;
}

.posts .list-group-item:hover {
    background-color: #eee;
}
